<div class="flex flex-col my-4 text-white">
  <h3 class="text-center text-blue-500 font-bold mb-8 text-3xl">Add Comment</h3>

  <form (submit)="onSendComent()" [formGroup]="coment" class="p-3 gap-3 flex flex-col max-w-lg w-full mx-auto">
    <div class="flex flex-col gap-1 w-full">
      <input
        [formControl]="coment.controls.username"
        type="text"
        placeholder="Your name"
        class="border bg-black rounded-md p-2 focus:outline-none focus:border-blue-500"
      >
      <app-show-errors [err]="getNameErrors"/>
    </div>

    <div class="flex flex-col gap-1 w-full">
      <input
      [formControl]="coment.controls.email"
      type="email"
      placeholder="Your email"
      class="border bg-black rounded-md p-2 focus:outline-none focus:border-blue-500"
      >
      <app-show-errors [err]="getEmailErrors"/>
    </div>

    <div class="flex flex-col gap-1 w-full">
      <textarea
        [formControl]="coment.controls.content"
        placeholder="Your coment"
        class="border bg-black rounded-md p-2 focus:outline-none focus:border-blue-500"
        name="content" id="content"
      ></textarea>
      <app-show-errors [err]="getContentErrors"/>
    </div>

    <button
      [disabled]="coment.invalid"
      type="submit"
      class="w-full bg-blue-500 transition-all text-white py-2 rounded-md font-semibold hover:bg-blue-600 disabled:opacity-40"
    >
      Submit
    </button>

    <app-show-errors [err]="error"/>
  </form>
</div>
